<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- Greeting user will see once login -->
  <div id="greeting">
    <h1>Make A Decision!</h1>
    <p id="underHeading">Once you're ready, make some desicions!</p>
  </div>

  <!-- Input table starts here -->
  <div id="inputTable">
    <form action="/" method="POST">
      <table id="decisionTable">
        <tbody>
          <tr class="tableTextBox">
            <input type="text" name="decision1" placeholder="What is your Decision" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="decision2" placeholder="Now, what else would you like to do..." />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="decision3" placeholder="What else would you like to do..." />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="decision4" placeholder="Almost Done..." />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="decision5" placeholder="Last One..." />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="adminEmail" placeholder="Now, what's your email..." />
          </tr>
        </tbody>
      </table>
      <!--Input Table ends-->
      <button>Submit</button>
    </form>
  </div>
</body>

</html>