<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- Greeting user will see once login -->
  <div id="greeting">
    <h1>Make A Decision!</h1>
    <p class="underHeading">Once you're ready, make some desicions!</p>
    <p class="underHeading">Make a decision, then some options related to it!</p>
  </div>

  <!-- Input table starts here -->
  <div id="inputTable">
    <form action="/confirm" method="POST">
      <table id="decisionTable">
        <tbody>
          <tr class="tableTextBox">
            <input type="text" name="title" id="title" placeholder="What is your Main Decision" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="option_1" id="option_1" placeholder="Related decision 1" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="option_2" id="option_2" placeholder="Related decision 2" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="option_3" id="option_3" placeholder="Related decision 3" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="option_4" id="option_4" placeholder="Related decision 4" />
          </tr>
          <tr class="tableTextBox">
            <input type="text" name="email" placeholder="Now, what's your email..." />
          </tr>
        </tbody>
      </table>
      <!--Input Table ends-->
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>