<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- Greeting user will see once login -->
  <div id="greeting">
    <h1>Vote It!</h1>
    <p class="underHeading">Vote for your favorite activity by dragging and dropping!</p>
    <p class="underHeading">First place is most favorite, last place is least favorite.</p>
  </div>

  <!-- Input table starts here -->
  <form action="/wait" method="GET">
    <ul id="decList">
      <li class="decItem" draggable="true"><span id="decision1">Go to the movies</span></li>
      <li class="decItem" draggable="true"><span id="decision2">Go to the park</span></li>
      <li class="decItem" draggable="true"><span id="decision3">pet a cat</span></li>
      <li class="decItem" draggable="true"><span id="decision4">go for a drive</span></li>
      <li class="decItem" draggable="true"><span id="decision5">yell at the moon</span></li>
    </ul>
    <button type="submit">Submit</button>
  </form>

</body>

</html>