// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

#greeting {
  font-size: 1.5rem;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underHeading {
  margin-top: -15px;
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

#inputTable {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 314px; 
  width: 307px;
  font-size: 10px;
  margin-top: 25px;
  padding-top: 12px;
  padding-bottom: 10px;
}

#decisionTable {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the inputs horizontally */
  justify-content: space-evenly;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #2f82e2;
  border-radius: 1px;
  font-size: 10px;
  padding: 10px;
  text-decoration: none;
}

.draggable {
  display: flex;
  padding: 10px;
  margin: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

#decList {
  list-style-type: none;
  padding: 0;
}
.decItem {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}
.dragging {
  opacity: 0.5;
}